@import "~iview/dist/styles/iview.css";
body,
ul,
ol,
li,
p,
h2,
h3,
h4,
h5,
h6,
form,
fieldset,
td,
img,
div,
dl,
dt,
dd,
input,
label {
  margin: 0;
  padding: 0;
  border: none;
  list-style: none;
  font-weight: normal;
}
html,
body {
  height: 100%;
  background-color: #f5f7f9;
}
a {
  text-decoration: none;
  color: #000 !important;
}
button {
  outline: none;
  border: none;
}
i {
  font-style: normal;
}
input:focus {
  border: none;
}
table {
  width: 100%;
  border-collapse: collapse;
}
table th {
  background-color: #f5f7f9;
}
table td,
table th {
  padding: 5px 3px;
  text-align: center;
  border: 1px solid #ddd;
}
