.filter {
    margin-top: 20px;
    margin-left: auto;
    margin-right: auto;
    width: 98%;
}

.filter .ivu-col {
    white-space: nowrap;
}

.filter .ivu-row label {
    display: inline-block;
    min-width: 80px;
}

.filter .ivu-row:nth-child(n+2) {
    margin-top: 20px;
}
.title {
    text-align: center;
    font-size: 25px;
    font-weight: bold;
}
.list{
    margin-top:20px;
    margin-left:auto;
    margin-right:auto;
    width:98%;
    text-align:center
}
.ivu-page{
    margin-top:10px;
}
.ivu-alert {
    text-align:left
}
.information{
    width:98%;
    margin-left:auto;
    margin-right:auto;
    margin-top:10px;
}